{% extends "plantilla.html"%}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{%block title%}RECOMENDACIONES{%endblock%}
{%block titulo%}¡HOLA¡{%endblock%}
{% block body%}
	{%if cantidad == 1:%}
		<h1 class="recomendacion_si">RECOMENDACIÓN OBTENIDA</h1>
	{%elif cantidad > 1:%}
		<h1 class="recomendacion_si">RECOMENDACIONES OBTENIDAS</h1>
	{%else:%}
		<h1 class="recomendacion_no">¡SIN CATEGORÍAS!</h1>
		<p class="recomendacion_no">
			<br>
			Te invitamos a que selecciones al menos una categoría de esta manera podemos ayudarte a encontrar lo que buscas.
			<br><br>
			<button class="volver"><a href="/categoria">VUELVE A INTENTARLO</a></button>
			<br><br>
		</p>
	{%endif%}
	<br>
	<br>
	<div id="tours" class="contenedor_ventas">
	{%if 'SANTA MARTA' in destinos:%}
		<div class="producto">
			<img src="{{url_for('static', filename="img/santamarta1.jpg")}}" alt="Portada" class="portada">
	      <div class="nombre">SANTA MARTA</div>
	      <form action="/compra" method="post">

	        <div class="botones">
	          <div class="boton">
	            <button type="submit" class="comprar" id="comprar4" name="comprar">
	              <svg class="carrito" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256"/><circle cx="80" cy="216" r="16" class="color000 svgShape"/><circle cx="184" cy="216" r="16" class="color000 svgShape"/><path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="16" d="M42.28575,72H221.71429l-26.39873,92.39554A16,16,0,0,1,179.93118,176H84.06882a16,16,0,0,1-15.38438-11.60446L32.51492,37.80223A8,8,0,0,0,24.82273,32H8" class="colorStroke000 svgStroke"/></svg>
	            </button>
	          </div>
	          <div class="label_precio">
	            <input  class="valor" name="destino" type="text" value="SANTA MARTA">
	            <input  class="valor" name="valor" type="number" value="10">
	            <label for="comprar4" class="precio">$10 USD</label>
	          </div>
	        </div>
	      </form>
	      <div class="vermas"><a href="/santa_marta" id="vermas4" class="vermas_label">VER MÁS</a>
	        <label for="vermas4">
	          <svg class="right" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 32 32"><path fill="#009fd7" d="M28.66 17.11a1.19 1.19 0 0 0 .09-.15l.1-.2.06-.2a.84.84 0 0 0 .05-.17 2 2 0 0 0 0-.78.84.84 0 0 0-.05-.17l-.06-.2-.1-.2a1.19 1.19 0 0 0-.09-.15 1.79 1.79 0 0 0-.25-.31l-10-10a2 2 0 0 0-2.82 2.82l6.58 6.6H5a2 2 0 0 0 0 4h17.17l-6.58 6.59a2 2 0 1 0 2.82 2.82l10-10a1.79 1.79 0 0 0 .25-.3Z" class="color000 svgShape"/></svg>
	        </label>
	      </div>
	    </div>
	{%endif%}

	{%if 'PALOMINO' in destinos:%}
		<div class="producto">
	      <img src="{{url_for('static', filename="img/palomino2.jpg")}}" alt="Portada" class="portada">
	      <div class="nombre">PALOMINO</div>
	      <form action="/compra" method="post">

	        <div class="botones">
	          <div class="boton">
	            <button type="submit" class="comprar" id="comprar3" name="comprar">
	              <svg class="carrito" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256"/><circle cx="80" cy="216" r="16" class="color000 svgShape"/><circle cx="184" cy="216" r="16" class="color000 svgShape"/><path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="16" d="M42.28575,72H221.71429l-26.39873,92.39554A16,16,0,0,1,179.93118,176H84.06882a16,16,0,0,1-15.38438-11.60446L32.51492,37.80223A8,8,0,0,0,24.82273,32H8" class="colorStroke000 svgStroke"/></svg>
	            </button>
	          </div>
	          <div class="label_precio">
	            <input  class="valor" name="destino" type="text" value="PALOMINO">
	            <input  class="valor" name="valor" type="number" value="12">
	            <label for="comprar3" class="precio">$12 USD</label>
	          </div>
	        </div>
	      </form>
	      <div class="vermas"><a href="/palomino" id="vermas3" class="vermas_label">VER MÁS</a>
	        <label for="vermas3">
	          <svg class="right" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 32 32"><path fill="#009fd7" d="M28.66 17.11a1.19 1.19 0 0 0 .09-.15l.1-.2.06-.2a.84.84 0 0 0 .05-.17 2 2 0 0 0 0-.78.84.84 0 0 0-.05-.17l-.06-.2-.1-.2a1.19 1.19 0 0 0-.09-.15 1.79 1.79 0 0 0-.25-.31l-10-10a2 2 0 0 0-2.82 2.82l6.58 6.6H5a2 2 0 0 0 0 4h17.17l-6.58 6.59a2 2 0 1 0 2.82 2.82l10-10a1.79 1.79 0 0 0 .25-.3Z" class="color000 svgShape"/></svg>
	        </label>
	      </div>
	    </div>
	{%endif%}

	{%if 'PLAYA BLANCA' in destinos:%}
		<div class="producto">
	      <img src="{{url_for('static', filename="img/playablanca1.jpg")}}" alt="Portada" class="portada">
	      <div class="nombre">PLAYA BLANCA</div>
	      <form action="/compra" method="post">

	        <div class="botones">
	          <div class="boton">
	            <button type="submit" class="comprar" id="comprar6" name="comprar">
	              <svg class="carrito" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256"/><circle cx="80" cy="216" r="16" class="color000 svgShape"/><circle cx="184" cy="216" r="16" class="color000 svgShape"/><path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="16" d="M42.28575,72H221.71429l-26.39873,92.39554A16,16,0,0,1,179.93118,176H84.06882a16,16,0,0,1-15.38438-11.60446L32.51492,37.80223A8,8,0,0,0,24.82273,32H8" class="colorStroke000 svgStroke"/></svg>
	            </button>
	          </div>
	          <div class="label_precio">
	            <input  class="valor" name="destino" type="text" value="PLAYA BLANCA">
	            <input  class="valor" name="valor" type="number" value="18">
	            <label for="comprar6" class="precio">$18 USD</label>
	          </div>
	        </div>
	      </form>
	      <div class="vermas"><a href="/playa_blanca" id="vermas6" class="vermas_label">VER MÁS</a>
	        <label for="vermas6">
	          <svg class="right" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 32 32"><path fill="#009fd7" d="M28.66 17.11a1.19 1.19 0 0 0 .09-.15l.1-.2.06-.2a.84.84 0 0 0 .05-.17 2 2 0 0 0 0-.78.84.84 0 0 0-.05-.17l-.06-.2-.1-.2a1.19 1.19 0 0 0-.09-.15 1.79 1.79 0 0 0-.25-.31l-10-10a2 2 0 0 0-2.82 2.82l6.58 6.6H5a2 2 0 0 0 0 4h17.17l-6.58 6.59a2 2 0 1 0 2.82 2.82l10-10a1.79 1.79 0 0 0 .25-.3Z" class="color000 svgShape"/></svg>
	        </label>
	      </div>
	      <br>
	    </div>
	{%endif%}

	{%if 'PARQUE TAYRONA' in destinos:%}
		<div class="producto">
	      <img src="{{url_for('static', filename="img/tayrona1.jpg")}}" alt="Portada" class="portada">
	      <div class="nombre">PARQUE TAYRONA</div>
	      <form action="/compra" method="post">
	        <div class="botones">
	          <div class="boton">
	            <button type="submit" class="comprar" id="comprar" name="comprar">
	              <svg class="carrito" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256"/><circle cx="80" cy="216" r="16" class="color000 svgShape"/><circle cx="184" cy="216" r="16" class="color000 svgShape"/><path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="16" d="M42.28575,72H221.71429l-26.39873,92.39554A16,16,0,0,1,179.93118,176H84.06882a16,16,0,0,1-15.38438-11.60446L32.51492,37.80223A8,8,0,0,0,24.82273,32H8" class="colorStroke000 svgStroke"/></svg>
	            </button>
	          </div>
	          <div class="label_precio">
	            <input  class="valor" name="destino" type="text" value="PARQUE TAYRONA">
	            <input  class="valor" name="valor" type="number" value="21">
	            <label for="comprar" class="precio">$21 USD</label>
	          </div>
	        </div>
	      </form>
	      <div class="vermas"><a href="/parque_tayrona" id="vermas1" class="vermas_label">VER MÁS</a>
	        <label for="vermas1">
	          <svg class="right" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 32 32"><path fill="#009fd7" d="M28.66 17.11a1.19 1.19 0 0 0 .09-.15l.1-.2.06-.2a.84.84 0 0 0 .05-.17 2 2 0 0 0 0-.78.84.84 0 0 0-.05-.17l-.06-.2-.1-.2a1.19 1.19 0 0 0-.09-.15 1.79 1.79 0 0 0-.25-.31l-10-10a2 2 0 0 0-2.82 2.82l6.58 6.6H5a2 2 0 0 0 0 4h17.17l-6.58 6.59a2 2 0 1 0 2.82 2.82l10-10a1.79 1.79 0 0 0 .25-.3Z" class="color000 svgShape"/></svg>
	        </label>
	      </div>
	      <br>
	    </div>
	{%endif%}

	{%if 'MINCA' in destinos:%}
		<div class="producto">
	      <img src="{{url_for('static', filename="img/minca2.jpg")}}" alt="Portada" class="portada">
	      <div class="nombre">MINCA</div>
	      <form action="/compra" method="post">

	        <div class="botones">
	          <div class="boton">
	            <button type="submit" class="comprar" id="comprar5" name="comprar">
	              <svg class="carrito" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256"/><circle cx="80" cy="216" r="16" class="color000 svgShape"/><circle cx="184" cy="216" r="16" class="color000 svgShape"/><path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="16" d="M42.28575,72H221.71429l-26.39873,92.39554A16,16,0,0,1,179.93118,176H84.06882a16,16,0,0,1-15.38438-11.60446L32.51492,37.80223A8,8,0,0,0,24.82273,32H8" class="colorStroke000 svgStroke"/></svg>
	            </button>
	          </div>
	          <div class="label_precio">
	            <input  class="valor" name="destino" type="text" value="MINCA">
	            <input  class="valor" name="valor" type="number" value="21">
	            <label for="comprar5" class="precio">$21 USD</label>
	          </div>
	        </div>
	      </form>
	      <div class="vermas"><a href="/minca" id="vermas5" class="vermas_label">VER MÁS</a>
	        <label for="vermas5">
	          <svg class="right" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 32 32"><path fill="#009fd7" d="M28.66 17.11a1.19 1.19 0 0 0 .09-.15l.1-.2.06-.2a.84.84 0 0 0 .05-.17 2 2 0 0 0 0-.78.84.84 0 0 0-.05-.17l-.06-.2-.1-.2a1.19 1.19 0 0 0-.09-.15 1.79 1.79 0 0 0-.25-.31l-10-10a2 2 0 0 0-2.82 2.82l6.58 6.6H5a2 2 0 0 0 0 4h17.17l-6.58 6.59a2 2 0 1 0 2.82 2.82l10-10a1.79 1.79 0 0 0 .25-.3Z" class="color000 svgShape"/></svg>
	        </label>
	      </div>
	    </div>
	{%endif%}

	{%if 'CIUDAD PERDIDA' in destinos:%}
		<div class="producto">
	      <img src="{{url_for('static', filename="img/ciudad1.jpg")}}" alt="Portada" class="portada">
	      <div class="nombre">CIUDAD PERDIDA</div>
	      <form action="/compra" method="post">
	        <div class="botones">
	          <div class="boton">
	            <button type="submit" class="comprar" id="comprar2" name="comprar">
	              <svg class="carrito" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256"/><circle cx="80" cy="216" r="16" class="color000 svgShape"/><circle cx="184" cy="216" r="16" class="color000 svgShape"/><path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="16" d="M42.28575,72H221.71429l-26.39873,92.39554A16,16,0,0,1,179.93118,176H84.06882a16,16,0,0,1-15.38438-11.60446L32.51492,37.80223A8,8,0,0,0,24.82273,32H8" class="colorStroke000 svgStroke"/></svg>
	            </button>
	          </div>
	          <div class="label_precio">
	            <input  class="valor" name="destino" type="text" value="CIUDAD PERDIDA">
	            <input  class="valor" name="valor" type="number" value="32">
	            <label for="comprar2" class="precio">$32 USD</label>
	          </div>
	        </div>
	      </form>
	      <div class="vermas"><a href="/ciudad_perdida" id="vermas2" class="vermas_label">VER MÁS</a>
	        <label for="vermas2">
	          <svg class="right" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 32 32"><path fill="#009fd7" d="M28.66 17.11a1.19 1.19 0 0 0 .09-.15l.1-.2.06-.2a.84.84 0 0 0 .05-.17 2 2 0 0 0 0-.78.84.84 0 0 0-.05-.17l-.06-.2-.1-.2a1.19 1.19 0 0 0-.09-.15 1.79 1.79 0 0 0-.25-.31l-10-10a2 2 0 0 0-2.82 2.82l6.58 6.6H5a2 2 0 0 0 0 4h17.17l-6.58 6.59a2 2 0 1 0 2.82 2.82l10-10a1.79 1.79 0 0 0 .25-.3Z" class="color000 svgShape"/></svg>
	        </label>
	      </div>
	    </div>
	{%endif%}

	{%if 'CABO SAN JUAN' in destinos:%}
		<div class="producto">
	      <img src="{{url_for('static', filename="img/cabosanjuanventa.jpg")}}" alt="Portada" class="portada">
	      <div class="nombre">CABO SAN JUAN</div>
	      <form action="/compra" method="post">

	        <div class="botones">
	          <div class="boton">
	            <button type="submit" class="comprar" id="comprar6" name="comprar">
	              <svg class="carrito" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256"/><circle cx="80" cy="216" r="16" class="color000 svgShape"/><circle cx="184" cy="216" r="16" class="color000 svgShape"/><path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="16" d="M42.28575,72H221.71429l-26.39873,92.39554A16,16,0,0,1,179.93118,176H84.06882a16,16,0,0,1-15.38438-11.60446L32.51492,37.80223A8,8,0,0,0,24.82273,32H8" class="colorStroke000 svgStroke"/></svg>
	            </button>
	          </div>
	          <div class="label_precio">
	            <input  class="valor" name="destino" type="text" value="CABO SAN JUAN">
	            <input  class="valor" name="valor" type="number" value="23">
	            <label for="comprar6" class="precio">$23 USD</label>
	          </div>
	        </div>
	      </form>
	      <div class="vermas"><a href="/cabo_sanjuan" id="vermas6" class="vermas_label">VER MÁS</a>
	        <label for="vermas6">
	          <svg class="right" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 32 32"><path fill="#009fd7" d="M28.66 17.11a1.19 1.19 0 0 0 .09-.15l.1-.2.06-.2a.84.84 0 0 0 .05-.17 2 2 0 0 0 0-.78.84.84 0 0 0-.05-.17l-.06-.2-.1-.2a1.19 1.19 0 0 0-.09-.15 1.79 1.79 0 0 0-.25-.31l-10-10a2 2 0 0 0-2.82 2.82l6.58 6.6H5a2 2 0 0 0 0 4h17.17l-6.58 6.59a2 2 0 1 0 2.82 2.82l10-10a1.79 1.79 0 0 0 .25-.3Z" class="color000 svgShape"/></svg>
	        </label>
	      </div>
	      <br>
	    </div>
	{%endif%}

	{%if 'POZO AZUL' in destinos:%}
		<div class="producto">
	      <img src="{{url_for('static', filename="img/pozoazulventa.jpg")}}" alt="Portada" class="portada">
	      <div class="nombre">POZO AZUL</div>
	      <form action="/compra" method="post">

	        <div class="botones">
	          <div class="boton">
	            <button type="submit" class="comprar" id="comprar6" name="comprar">
	              <svg class="carrito" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256"/><circle cx="80" cy="216" r="16" class="color000 svgShape"/><circle cx="184" cy="216" r="16" class="color000 svgShape"/><path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="16" d="M42.28575,72H221.71429l-26.39873,92.39554A16,16,0,0,1,179.93118,176H84.06882a16,16,0,0,1-15.38438-11.60446L32.51492,37.80223A8,8,0,0,0,24.82273,32H8" class="colorStroke000 svgStroke"/></svg>
	            </button>
	          </div>
	          <div class="label_precio">
	            <input  class="valor" name="destino" type="text" value="POZO AZUL">
	            <input  class="valor" name="valor" type="number" value="22">
	            <label for="comprar6" class="precio">$22 USD</label>
	          </div>
	        </div>
	      </form>
	      <div class="vermas"><a href="/pozo_azul" id="vermas6" class="vermas_label">VER MÁS</a>
	        <label for="vermas6">
	          <svg class="right" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 32 32"><path fill="#009fd7" d="M28.66 17.11a1.19 1.19 0 0 0 .09-.15l.1-.2.06-.2a.84.84 0 0 0 .05-.17 2 2 0 0 0 0-.78.84.84 0 0 0-.05-.17l-.06-.2-.1-.2a1.19 1.19 0 0 0-.09-.15 1.79 1.79 0 0 0-.25-.31l-10-10a2 2 0 0 0-2.82 2.82l6.58 6.6H5a2 2 0 0 0 0 4h17.17l-6.58 6.59a2 2 0 1 0 2.82 2.82l10-10a1.79 1.79 0 0 0 .25-.3Z" class="color000 svgShape"/></svg>
	        </label>
	      </div>
	      <br>
	    </div>
	{%endif%}
	</div>
{%endblock%}